table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    opacity: 0.8;
    height: 60px;
    text-align: center;
    font-weight: bold;
}
tr:hover {
    background-color: rgb(236, 236, 236);
}

th {
    background-color: #00a362;
    color: #ffffff;
}

div {
    margin: 30px;
}
